
.animationGridCell{
  width : 5px;
  height: 5px;
  display: inline-block;
  background-color: white;
    line-height: 0px;

}
body{
  line-height: 0px;
}
.animationGridRow{
  line-height: 0px;
  height: 5px;
}
